.image {
    background-color: #cbe896;
}

h1,
header p {
    text-align: center;
}

header {
    background-color: #fcdfa6;
}

footer {
    text-align: center;
}

body {
    background-color: #a18276;
    display: flex;
    flex-direction: column;
}

.contentContainer {
    flex: 1;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
}

ul {
    display: flex;
    gap: 12px;
    align-items: center;
}

.mainOne {
    display: flex;
    align-items: flex-start;
}

.mainOne.flipped {
    flex-direction: row-reverse;
}