/* Body Style */

body {
    background-color: #a18276;
    display: flex;
    flex-direction: column;
}

/* Header Style */

header {
    background-color: #fcdfa6;
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
}

a:link {
    /* Removes underlines from links */
    text-decoration: none;
}

.links {
    display: flex;
}

a {
    /* Change link text color from default blue to black */
    color: black;
}

ul {
    /* Places links on same line */
    display: flex;
    /* Puts spacing between links */
    gap: 12px;
    /* Aligns link text with h1 */
    align-items: center;
}

li {
    /* Removes bullet points from list */
    list-style: none;
}

/* Content Style */

.contentContainer {
    flex: 1;
}

.mainOne {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.mainOne .contentBox {
    flex-shrink: 1;
}

.content {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

/* Footer Style */

footer {
    text-align: center;
}

