.image {
    background-color: #cbe896;
    display: flex;
    justify-content: center;
}

h1,
header p {
    text-align: center;
}

header {
    background-color: #fcdfa6;
}

footer {
    text-align: center;
}

body {
    background-color: #a18276;
}

a:link {
    text-decoration: none;
}

a {
    color: black;
}

li {
    list-style: none;
}